.container {
    display: flex;
    align-items: center; 
    height: 100vh; 
    text-align: center;
  }

.botao-primario{
text-align: center;
margin: 1em 0 0 2em;
  font-size: 4em;
  font-family: 'Indie Flower', cursive;
  color: #00668e;
}

.botao-primario:hover{
  background-color: transparent;
  color: #7d8e94;
}
