.Formulario {
    margin: 2em;
    width: 40%;
  }
  
  .form-label {
    display: block; 
    margin-bottom: 5px; 
  }
  
  .controle-formulario {
    width: 100%; 
    height: 2.5em;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
  }

  .controle-formulario:focus {
    border: 3px solid #007bff;
  }
  
  .btn {
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
  }
  
  .btn:hover {
    background-color: #4CAF50; 
  }

  .btn:hover {
    background-color: #38823c;
  }
  
  