table {
    width: 50%;
    border-collapse: collapse;
    margin:  2em;
  }

  th, td {
    padding: 10px;
    padding-left: 30px;
    text-align: left;
    border-bottom: 10px solid #ffffff;
    border-radius:13px;
  }

  td {
    width: 99%; /* Definindo a largura da célula de dados */
    text-align: left;
  }
  
  
  th {
    background-color: #00668e;
    color: white;
  }
  

  .cabecalho {
    background-color: #ffffff;
    color: #00668e;
    text-align: center;
  }