table {
    width: 50%;
    border-collapse: collapse;
    margin:  2em;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 10px solid #ffffff;
    border-top-right-radius:15px;
  }

  td {
    width: 99%; /* Definindo a largura da célula de dados */
    text-align: left;
  }
  
  
  th {
    color: #00668e;
    font-size: 1em;
    text-align: center;
    background-color: white;
  }
  
.cabecalho2{
  background-color: #00668e;
  color: white;
  font-size: 1.5em;
}